In [ ]:
import os
import datadbhandler as dbhandler
import pandas as pd
import numpy as np

PATH = 'D:/Trading/Historical Data/'
CSVPATH = 'NSE EOD/'
DBPATH = 'db/nsedb.db'
MOD_PATH = 'nse_eod_modifiers/'
AMI_PATH = 'amibroker_files/'

os.chdir(PATH)

db = dbhandler.DataDB(DBPATH)

In [ ]:
df = dbhandler.pd.read_csv(db.INDEX_CHANGE_MOD_CSV)

In [ ]:
df.head()

In [ ]:
db.fetch_records('tblModDump', [df.iloc[0][2]], start_date=df.iloc[0][1], end_date=df.iloc[0][1])

In [ ]:
db.fetch_records('tblModDump', [df.iloc[0][2]], start_date=19960918, end_date=19960918)

In [ ]:
db.truncate_table('tblDumpReplace', msg=True)

In [ ]:
db.truncate_table('tblMultipliers', msg=True)

In [ ]:
db.truncate_table('tblSkipped', msg=True)

In [ ]:
db.truncate_table('tblSymbolRange', msg=True)

In [ ]:
db.truncate_table('tblHistIndex', msg=True)

In [ ]:
db.truncate_table('tblDuplicates', msg=True)

In [ ]:
for i in range(1995, 2020):
    db.truncate_table('tblModDump{}'.format(i), msg=True)

In [ ]:
import pandas as pd

In [ ]:
df = dbhandler.pd.read_csv(db.SYMBOL_MAPPING_FILE)

In [ ]:
df2 = dbhandler.pd.read_csv(db.INDEX_CHANGE_MOD_CSV)
df2.Symbol.value_counts()

In [ ]:
df2 = dbhandler.pd.read_csv(db.INDEX_CHANGE_MOD_CSV)
df2.Symbol.value_counts()

In [ ]:
df

In [ ]:
import pandas as pd

In [ ]:
symbols_range.index = symbols_range.Symbol
symbols_range

In [ ]:
join = pd.read_sql_query(qry, db.conn)

In [ ]:
join

In [1]:
import history
import pandas as pd
import numpy as np
PATH = 'D:/Trading/Historical Data/'
DBPATH = 'db/nsedb.db'

os.chdir(PATH)

hist = history.History(DBPATH)

Opening Bhavcopy database db/nsedb.db...

In [2]:
histIndex, histIndexDates = hist.index_change_history('Nifty 50')

In [3]:
df_symbol = histIndex[histIndex.Symbol=='RELCAPITAL']
df_index_symbol = pd.merge(histIndexDates, df_symbol, how='left', on=['Date']).sort_values(by='Date')
df_index_symbol

        Date IndexName      Symbol
0   19960918  Nifty 50  RELCAPITAL
1   19970507  Nifty 50  RELCAPITAL
2   19970514  Nifty 50  RELCAPITAL
3   19971224  Nifty 50  RELCAPITAL
4   19981007  Nifty 50  RELCAPITAL
5   19990526       NaN         NaN
6   19990908       NaN         NaN
7   20000510       NaN         NaN
8   20000524       NaN         NaN
9   20000901       NaN         NaN
10  20020117       NaN         NaN
11  20020125       NaN         NaN
12  20020531       NaN         NaN
13  20021010       NaN         NaN
14  20021028       NaN         NaN
15  20030502       NaN         NaN
16  20030804       NaN         NaN
17  20040301       NaN         NaN
18  20040412       NaN         NaN
19  20040524       NaN         NaN
20  20041210       NaN         NaN
21  20050225       NaN         NaN
22  20050926       NaN         NaN
23  20060627       NaN         NaN
24  20060901       NaN         NaN
25  20070404       NaN         NaN
26  20070924       NaN         NaN
27  20071005       NaN         NaN
28  20071212       NaN         NaN
29  20080314       NaN         NaN
30  20080910       NaN         NaN
31  20090112  Nifty 50  RELCAPITAL
32  20090327  Nifty 50  RELCAPITAL
33  20090617  Nifty 50  RELCAPITAL
34  20091022  Nifty 50  RELCAPITAL
35  20100408  Nifty 50  RELCAPITAL
36  20101001  Nifty 50  RELCAPITAL
37  20110325  Nifty 50  RELCAPITAL
38  20111010       NaN         NaN
39  20120427       NaN         NaN
40  20120928       NaN         NaN
41  20130401       NaN         NaN
42  20130927       NaN         NaN
43  20140328       NaN         NaN
44  20140919       NaN         NaN
45  20150327       NaN         NaN
46  20150529       NaN         NaN
47  20150928       NaN         NaN
48  20160401       NaN         NaN
49  20170331       NaN         NaN
50  20170526       NaN         NaN
51  20170929       NaN         NaN
52  20180402       NaN         NaN
53  20180928       NaN         NaN
54  20190329       NaN         NaN
55  20190927       NaN         NaN
56  20200319       NaN         NaN
57  20200731       NaN         NaN

In [16]:
data = hist.symbol_history(symbol='RELCAPITAL',
                           start_date='20090130',
                           end_date='20200801',
                           buffer_start='20090101',
                           index='Nifty 50')

fetching data for  RELCAPITAL

In [18]:
data[:20]

,Symbol,Date,Open,High,Low,Close,Volume,AdjustedOpen,AdjustedHigh,AdjustedLow,AdjustedClose,Buffer,IndexFlag
0,RELCAPITAL,20090101,549.9,564.85,545.00,560.55,3108852,549.9,564.85,545,560.55,1.0,NaN
1,RELCAPITAL,20090102,565.9,584.55,563.20,567.85,4685117,565.9,584.55,563.2,567.85,1.0,NaN
2,RELCAPITAL,20090105,575.0,609.75,575.00,605.60,6398972,575,609.75,575,605.6,1.0,NaN
3,RELCAPITAL,20090106,605.6,626.40,583.00,603.50,7920491,605.6,626.4,583,603.5,1.0,NaN
4,RELCAPITAL,20090107,619.9,619.90,505.05,517.50,6839760,619.9,619.9,505.05,517.5,1.0,NaN
5,RELCAPITAL,20090109,504.9,553.00,462.50,479.80,10287849,504.9,553,462.5,479.8,1.0,NaN
6,RELCAPITAL,20090112,488.7,489.90,432.55,436.95,7976127,488.7,489.9,432.55,436.95,1.0,1.0
7,RELCAPITAL,20090113,435.0,451.60,398.00,407.50,9721560,435,451.6,398,407.5,1.0,1.0
8,RELCAPITAL,20090114,419.0,441.00,412.00,433.05,6976656,419,441,412,433.05,1.0,1.0
9,RELCAPITAL,20090115,420.0,424.30,392.00,412.50,6852305,420,424.3,392,412.5,1.0,1.0
10,RELCAPITAL,20090116,416.0,433.00,411.00,428.50,6052003,416,433,411,428.5,1.0,1.0
11,RELCAPITAL,20090119,434.9,438.00,423.00,427.75,6050642,434.9,438,423,427.75,1.0,1.0
12,RELCAPITAL,20090120,415.0,444.90,410.65,417.60,7096473,415,444.9,410.65,417.6,1.0,1.0
13,RELCAPITAL,20090121,408.0,423.50,387.20,394.25,7498041,408,423.5,387.2,394.25,1.0,1.0
14,RELCAPITAL,20090122,399.8,406.80,382.55,392.40,6397534,399.8,406.8,382.55,392.4,1.0,1.0
15,RELCAPITAL,20090123,393.1,403.00,376.10,380.35,5367692,393.1,403,376.1,380.35,1.0,1.0
16,RELCAPITAL,20090127,392.0,402.00,384.00,397.95,4552039,392,402,384,397.95,1.0,1.0
17,RELCAPITAL,20090128,400.0,417.80,400.00,413.35,4306242,400,417.8,400,413.35,1.0,1.0
18,RELCAPITAL,20090129,416.0,422.80,393.90,399.30,5331904,416,422.8,393.9,399.3,1.0,1.0
19,RELCAPITAL,20090130,390.0,425.25,387.45,420.95,6268953,390,425.25,387.45,420.95,NaN,1.0

In [6]:
data.iloc[1500:1550]

,Symbol,Date,Open,High,Low,Close,Volume,AdjustedOpen,AdjustedHigh,AdjustedLow,AdjustedClose,Buffer,IndexFlag
1500,RELCAPITAL,20110822,388.40,403.70,387.00,401.75,1337532,388.4,403.7,387,401.75,NaN,1.0
1501,RELCAPITAL,20110823,406.25,410.70,399.00,403.50,1075869,406.25,410.7,399,403.5,NaN,1.0
1502,RELCAPITAL,20110824,404.95,423.80,391.00,394.35,2697525,404.95,423.8,391,394.35,NaN,1.0
1503,RELCAPITAL,20110825,398.00,399.70,385.50,391.25,1771297,398,399.7,385.5,391.25,NaN,1.0
1504,RELCAPITAL,20110826,387.40,388.00,340.10,344.20,4755497,387.4,388,340.1,344.2,NaN,1.0
1505,RELCAPITAL,20110829,350.00,390.00,349.35,377.25,5479267,350,390,349.35,377.25,NaN,1.0
1506,RELCAPITAL,20110830,390.00,396.50,371.45,384.20,5254545,390,396.5,371.45,384.2,NaN,1.0
1507,RELCAPITAL,20110902,395.70,413.70,381.25,407.60,3987195,395.7,413.7,381.25,407.6,NaN,1.0
1508,RELCAPITAL,20110905,400.05,433.50,397.00,429.55,6243360,400.05,433.5,397,429.55,NaN,1.0
1509,RELCAPITAL,20110906,426.10,432.80,411.25,423.15,3635838,426.1,432.8,411.25,423.15,NaN,1.0
1510,RELCAPITAL,20110907,427.40,436.40,424.35,428.10,2513453,427.4,436.4,424.35,428.1,NaN,1.0
1511,RELCAPITAL,20110908,430.00,433.25,420.35,428.20,2090636,430,433.25,420.35,428.2,NaN,1.0
1512,RELCAPITAL,20110909,426.20,432.00,404.15,409.50,2366170,426.2,432,404.15,409.5,NaN,1.0
1513,RELCAPITAL,20110912,397.90,402.70,390.00,395.25,2088653,397.9,402.7,390,395.25,NaN,1.0
1514,RELCAPITAL,20110913,397.25,414.90,396.55,401.55,3057070,397.25,414.9,396.55,401.55,NaN,1.0
1515,RELCAPITAL,20110914,405.00,417.70,400.00,413.70,3062314,405,417.7,400,413.7,NaN,1.0
1516,RELCAPITAL,20110915,414.80,420.90,407.55,415.15,2581333,414.8,420.9,407.55,415.15,NaN,1.0
1517,RELCAPITAL,20110916,418.05,419.75,402.75,406.25,2018557,418.05,419.75,402.75,406.25,NaN,1.0
1518,RELCAPITAL,20110919,402.25,404.70,395.30,399.45,1800998,402.25,404.7,395.3,399.45,NaN,1.0
1519,RELCAPITAL,20110920,397.20,420.70,397.20,418.95,2034810,397.2,420.7,397.2,418.95,NaN,1.0
1520,RELCAPITAL,20110921,419.00,427.25,412.50,422.55,1883429,419,427.25,412.5,422.55,NaN,1.0
1521,RELCAPITAL,20110922,414.65,417.90,395.00,397.60,2457090,414.65,417.9,395,397.6,NaN,1.0
1522,RELCAPITAL,20110923,391.00,409.00,389.30,402.10,3332557,391,409,389.3,402.1,NaN,1.0
1523,RELCAPITAL,20110926,403.00,404.95,383.25,389.45,2852562,403,404.95,383.25,389.45,NaN,1.0
1524,RELCAPITAL,20110927,400.00,411.85,391.00,394.80,7424340,400,411.85,391,394.8,NaN,1.0
1525,RELCAPITAL,20110928,398.00,400.00,366.30,368.95,5883292,398,400,366.3,368.95,NaN,1.0
1526,RELCAPITAL,20110929,365.60,368.15,353.60,359.55,5632841,365.6,368.15,353.6,359.55,NaN,1.0
1527,RELCAPITAL,20110930,347.00,347.00,311.50,315.15,14290129,347,347,311.5,315.15,NaN,1.0
1528,RELCAPITAL,20111003,318.55,326.95,309.70,320.05,7526173,318.55,326.95,309.7,320.05,NaN,1.0
1529,RELCAPITAL,20111004,319.90,328.00,315.15,323.10,5075630,319.9,328,315.15,323.1,NaN,1.0
1530,RELCAPITAL,20111005,327.90,327.90,312.50,315.95,3911264,327.9,327.9,312.5,315.95,NaN,1.0
1531,RELCAPITAL,20111007,326.20,328.20,320.00,321.55,3352488,326.2,328.2,320,321.55,NaN,1.0
1532,RELCAPITAL,20111010,323.00,337.90,322.75,336.00,4671947,323,337.9,322.75,336,NaN,NaN
1533,RELCAPITAL,20111011,339.90,344.80,332.25,341.15,3781392,339.9,344.8,332.25,341.15,NaN,NaN
1534,RELCAPITAL,20111012,342.60,354.00,337.30,352.15,3663593,342.6,354,337.3,352.15,NaN,NaN
1535,RELCAPITAL,20111013,353.90,355.45,340.05,345.75,2920169,353.9,355.45,340.05,345.75,NaN,NaN
1536,RELCAPITAL,20111014,341.25,353.60,339.15,349.35,2330499,341.25,353.6,339.15,349.35,NaN,NaN
1537,RELCAPITAL,20111017,351.70,352.90,332.00,336.35,2703884,351.7,352.9,332,336.35,NaN,NaN
1538,RELCAPITAL,20111018,332.00,332.00,320.75,322.40,2014926,332,332,320.75,322.4,NaN,NaN
1539,RELCAPITAL,20111019,327.90,335.55,325.00,333.65,2039718,327.9,335.55,325,333.65,NaN,NaN
1540,RELCAPITAL,20111020,329.50,339.40,326.00,337.45,2557427,329.5,339.4,326,337.45,NaN,NaN
1541,RELCAPITAL,20111021,338.60,342.00,332.05,333.85,1765032,338.6,342,332.05,333.85,NaN,NaN
1542,RELCAPITAL,20111024,338.50,343.00,330.25,334.20,2073417,338.5,343,330.25,334.2,NaN,NaN
1543,RELCAPITAL,20111025,334.50,345.35,332.10,344.15,1964068,334.5,345.35,332.1,344.15,NaN,NaN
1544,RELCAPITAL,20111026,346.55,348.50,345.00,346.30,474483,346.55,348.5,345,346.3,NaN,NaN
1545,RELCAPITAL,20111028,357.00,376.00,355.00,372.05,3177728,357,376,355,372.05,NaN,NaN
1546,RELCAPITAL,20111031,369.20,376.45,364.25,370.15,2292708,369.2,376.45,364.25,370.15,NaN,NaN
1547,RELCAPITAL,20111101,363.65,373.55,353.30,360.80,2244198,363.65,373.55,353.3,360.8,NaN,NaN
1548,RELCAPITAL,20111102,355.00,372.85,355.00,366.20,2303313,355,372.85,355,366.2,NaN,NaN
1549,RELCAPITAL,20111103,366.50,376.80,363.05,373.55,3431131,366.5,376.8,363.05,373.55,NaN,NaN

In [7]:
data[:852].IndexFlag.sum()

0.0

In [8]:
data.iloc[852:1532][data.IndexFlag!=1.0]

Empty DataFrame
Columns: [Symbol, Date, Open, High, Low, Close, Volume, AdjustedOpen, AdjustedHigh, AdjustedLow, AdjustedClose, Buffer, IndexFlag]
Index: []

In [19]:
data = hist.index_components_history('Nifty 50', start_date='19960130', end_date='20200801', buffer_start='19960101')

fetching data for  COCHINREFN
fetching data for  PONDS
fetching data for  THERMAX
fetching data for  SBIN
fetching data for  CASTROL
fetching data for  ESSARGUJ
fetching data for  IFCI
fetching data for  AMBUJACEM
fetching data for  TATACHEM
fetching data for  COLGATE
fetching data for  TATASTEEL
fetching data for  INDOGULF
fetching data for  RELIANCE
fetching data for  DRREDDY
fetching data for  IPCL
fetching data for  IDBI
fetching data for  EIHOTEL
fetching data for  HINDUNILVR
fetching data for  BAJAJHLDNG
fetching data for  ITC
fetching data for  GRASIM
fetching data for  TATACONSUM
fetching data for  SCICI
fetching data for  ABIRLANUVO
fetching data for  ARVIND
fetching data for  TATAMOTORS
fetching data for  RELPETRO
fetching data for  GESHIPPING
fetching data for  RELINFRA
fetching data for  ORIENTBANK
fetching data for  L&T
fetching data for  RANBAXY
fetching data for  NESTLE
fetching data for  RELCAPITAL
fetching data for  ICICI
fetching data for  TVSSUZUKI
fetching data for  ABB
fetching data for  MRPL
fetching data for  HINDALCO
fetching data for  TATAPOWER
fetching data for  HDFCBANK
fetching data for  ACC
fetching data for  GLAXO
fetching data for  ANDRAVALLY
fetching data for  ASIANPAINT
fetching data for  HDFC
fetching data for  M&M
fetching data for  INDHOTEL
fetching data for  BROOKBOND
fetching data for  ASHOKLEY
fetching data for  MTNL
fetching data for  BHEL
fetching data for  HINDPETRO
fetching data for  BPCL
fetching data for  INFY
fetching data for  PGHH
fetching data for  CIPLA
fetching data for  GSKCONS
fetching data for  NIIT
fetching data for  HEROMOTOCO
fetching data for  BANKINDIA
fetching data for  RECKCOLMAN
fetching data for  NOVARTIND
fetching data for  BRITANNIA
fetching data for  SATYAMCOMP
fetching data for  DABUR
fetching data for  HCL-INSYS
fetching data for  ZEEL
fetching data for  DIGITALEQP
fetching data for  SUNPHARMA
fetching data for  WIPRO
fetching data for  ICICIBANK
fetching data for  TATACOMM
fetching data for  SCI
fetching data for  HCLTECH
fetching data for  NATIONALUM
fetching data for  GAIL
fetching data for  SAIL
fetching data for  BHARTIARTL
fetching data for  MARUTI
fetching data for  ONGC
fetching data for  PNB
fetching data for  LT
fetching data for  TCS
fetching data for  JETAIRWAYS
fetching data for  SIEMENS
fetching data for  SUZLON
fetching data for  RCOM
fetching data for  RPL
fetching data for  STER
fetching data for  NTPC
fetching data for  UNITECH
fetching data for  IDEA
fetching data for  CAIRN
fetching data for  DLF
fetching data for  POWERGRID
fetching data for  RPOWER
fetching data for  AXISBANK
fetching data for  JINDALSTEL
fetching data for  IDFC
fetching data for  JPASSOCIAT
fetching data for  KOTAKBANK
fetching data for  BAJAJ-AUTO
fetching data for  VEDL
fetching data for  COALINDIA
fetching data for  BANKBARODA
fetching data for  ULTRACEMCO
fetching data for  LUPIN
fetching data for  INDUSINDBK
fetching data for  NMDC
fetching data for  TECHM
fetching data for  MCDOWELL-N
fetching data for  YESBANK
fetching data for  BOSCHLTD
fetching data for  ADANIPORTS
fetching data for  AUROPHARMA
fetching data for  TATAMTRDVR
fetching data for  EICHERMOT
fetching data for  INFRATEL
fetching data for  IOC
fetching data for  IBULHSGFIN
fetching data for  BAJFINANCE
fetching data for  UPL
fetching data for  BAJAJFINSV
fetching data for  TITAN
fetching data for  JSWSTEEL
fetching data for  NESTLEIND
fetching data for  SHREECEM
fetching data for  HDFCLIFE

In [20]:
data['RELCAPITAL']

,Symbol,Date,Open,High,Low,Close,Volume,AdjustedOpen,AdjustedHigh,AdjustedLow,AdjustedClose,Buffer,IndexFlag
0,RELCAPITAL,19960101,90.30,90.9,90.00,90.70,22700,90.3,90.9,90,90.7,1.0,NaN
1,RELCAPITAL,19960102,90.70,91.0,89.75,90.15,80400,90.7,91,89.75,90.15,1.0,NaN
2,RELCAPITAL,19960109,84.50,84.7,81.00,83.60,69700,84.5,84.7,81,83.6,1.0,NaN
3,RELCAPITAL,19960110,83.60,84.5,82.50,82.95,57800,83.6,84.5,82.5,82.95,1.0,NaN
4,RELCAPITAL,19960111,82.95,85.0,82.35,84.90,92100,82.95,85,82.35,84.9,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6069,RELCAPITAL,20200727,10.40,10.4,9.95,10.00,1439878,10.4,10.4,9.95,10,NaN,NaN
6070,RELCAPITAL,20200728,10.10,10.2,9.50,9.65,1048030,10.1,10.2,9.5,9.65,NaN,NaN
6071,RELCAPITAL,20200729,9.80,10.1,9.30,10.10,653461,9.8,10.1,9.3,10.1,NaN,NaN
6072,RELCAPITAL,20200730,10.00,10.4,9.60,9.85,904157,10,10.4,9.6,9.85,NaN,NaN
6073,RELCAPITAL,20200731,9.40,9.7,9.40,9.45,1017592,9.4,9.7,9.4,9.45,NaN,NaN

In [18]:
import pandas as pd
import numpy as np
start_date = buffer_start = '19960101'
end_date = '20200801'
symbol = 'TCS'
index = 'Nifty 50'

buffer_start = hist.date_check(start_date, end_date, buffer_start)

symbol_hist = hist.symbol_history(symbol, start_date, end_date, buffer_start)

histIndex, histIndexDates = hist.index_change_history(index)

# Index change dates when symbol was part of index
df_symbol = histIndex[histIndex.Symbol == symbol]

# All index change dates with info on symbol present or absent
df_index_symbol = pd.merge(histIndexDates, df_symbol, how='left', on=['Date']).sort_values(by='Date')
df_index_symbol.Symbol = np.where(df_index_symbol.IndexName.notnull(), True, np.nan)

# Marking dates when symbol was removed from index - 1.0 = Present, 0.0 = Removal, NaN = Absent
df_index_symbol.Symbol.fillna(method='ffill', inplace=True, limit=1) 
df_index_symbol.Symbol = np.where((df_index_symbol.IndexName.isnull()) & \
    (df_index_symbol.Symbol.notnull()), False, df_index_symbol.Symbol)
# Removing NaN records, renaming columns
df_index_symbol = df_index_symbol[df_index_symbol.Symbol.notnull()][['Date', 'Symbol']]
df_index_symbol.columns = ['Date', 'IndexFlag']

# Symbol in index on buffer_start?
try:
    index_flag_buffer_start = df_index_symbol[df_index_symbol.Date.astype(int) < \
        int(buffer_start)].sort_values(by='Date', ascending=False).iloc[0].IndexFlag
except IndexError:
    index_flag_buffer_start = False

fetching data for  TCS

In [19]:
index_flag_buffer_start

False

In [9]:
len(data.keys())

129

In [10]:
data['TCS']

,Symbol,Date,Open,High,Low,Close,Volume,AdjustedOpen,AdjustedHigh,AdjustedLow,AdjustedClose,Buffer,IndexFlag
0,TCS,20040825,1198.70,1198.7,979.00,987.95,17116372,NaN,NaN,NaN,NaN,None,NaN
1,TCS,20040826,992.00,997.0,975.30,979.00,5055400,NaN,NaN,NaN,NaN,None,NaN
2,TCS,20040827,982.40,982.4,958.55,962.65,3830750,NaN,NaN,NaN,NaN,None,NaN
3,TCS,20040830,969.90,990.0,965.00,986.75,3058151,NaN,NaN,NaN,NaN,None,NaN
4,TCS,20040831,986.50,990.0,976.00,988.10,2649332,NaN,NaN,NaN,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3938,TCS,20200727,2165.00,2215.0,2163.50,2206.80,4248837,17320.0,17720.0,17308.0,17654.4,None,1.0
3939,TCS,20200728,2215.00,2320.0,2215.00,2309.75,8092458,17720.0,18560.0,17720.0,18478.0,None,1.0
3940,TCS,20200729,2292.00,2342.0,2246.05,2276.05,6090440,18336.0,18736.0,17968.4,18208.4,None,1.0
3941,TCS,20200730,2285.90,2358.0,2272.25,2279.50,7098913,18287.2,18864.0,18178.0,18236.0,None,1.0
3942,TCS,20200731,2303.15,2334.8,2257.45,2281.40,4723290,18425.2,18678.4,18059.6,18251.2,None,1.0

In [5]:
data['TCS'].IndexFlag.sum()

3817.0

In [11]:
data['TCS'].iloc[100:150]

,Symbol,Date,Open,High,Low,Close,Volume,AdjustedOpen,AdjustedHigh,AdjustedLow,AdjustedClose,Buffer,IndexFlag
100,TCS,20050118,1274.70,1284.00,1257.50,1263.85,772908,NaN,NaN,NaN,NaN,None,NaN
101,TCS,20050119,1266.00,1273.70,1251.10,1255.40,442311,NaN,NaN,NaN,NaN,None,NaN
102,TCS,20050120,1255.00,1255.00,1230.00,1243.70,567025,NaN,NaN,NaN,NaN,None,NaN
103,TCS,20050124,1243.70,1247.35,1215.35,1220.65,453524,NaN,NaN,NaN,NaN,None,NaN
104,TCS,20050125,1214.80,1239.90,1207.10,1235.45,558241,NaN,NaN,NaN,NaN,None,NaN
105,TCS,20050127,1243.25,1253.80,1235.30,1240.55,681918,NaN,NaN,NaN,NaN,None,NaN
106,TCS,20050128,1242.85,1294.80,1242.50,1289.20,1049227,NaN,NaN,NaN,NaN,None,NaN
107,TCS,20050131,1298.00,1311.80,1290.25,1300.40,731673,NaN,NaN,NaN,NaN,None,NaN
108,TCS,20050201,1307.00,1320.00,1287.00,1315.25,1002480,NaN,NaN,NaN,NaN,None,NaN
109,TCS,20050202,1319.00,1323.45,1303.00,1308.95,608807,NaN,NaN,NaN,NaN,None,NaN
110,TCS,20050203,1312.00,1314.75,1302.00,1311.10,415952,NaN,NaN,NaN,NaN,None,NaN
111,TCS,20050204,1310.00,1322.00,1300.55,1306.45,335505,NaN,NaN,NaN,NaN,None,NaN
112,TCS,20050207,1312.60,1330.70,1301.00,1313.75,743027,NaN,NaN,NaN,NaN,None,NaN
113,TCS,20050208,1313.75,1323.00,1308.00,1316.00,410554,NaN,NaN,NaN,NaN,None,NaN
114,TCS,20050209,1321.00,1343.60,1320.75,1332.80,692242,NaN,NaN,NaN,NaN,None,NaN
115,TCS,20050210,1330.00,1343.50,1323.00,1332.65,547081,NaN,NaN,NaN,NaN,None,NaN
116,TCS,20050211,1338.00,1387.00,1338.00,1381.75,1295887,NaN,NaN,NaN,NaN,None,NaN
117,TCS,20050214,1391.05,1418.00,1391.05,1409.65,1109408,NaN,NaN,NaN,NaN,None,NaN
118,TCS,20050215,1410.00,1415.00,1374.00,1381.35,497090,NaN,NaN,NaN,NaN,None,NaN
119,TCS,20050216,1399.00,1399.00,1361.00,1368.15,390854,NaN,NaN,NaN,NaN,None,NaN
120,TCS,20050217,1368.15,1386.00,1350.60,1381.85,515622,NaN,NaN,NaN,NaN,None,NaN
121,TCS,20050218,1380.00,1392.00,1355.00,1375.00,318143,NaN,NaN,NaN,NaN,None,NaN
122,TCS,20050221,1371.00,1375.80,1345.10,1365.55,222144,NaN,NaN,NaN,NaN,None,NaN
123,TCS,20050222,1364.70,1369.95,1351.00,1363.45,267380,NaN,NaN,NaN,NaN,None,NaN
124,TCS,20050223,1363.45,1382.10,1355.15,1374.95,645852,NaN,NaN,NaN,NaN,None,NaN
125,TCS,20050224,1374.95,1395.90,1361.20,1367.95,1350805,NaN,NaN,NaN,NaN,None,NaN
126,TCS,20050225,1376.80,1379.00,1353.15,1364.05,633862,NaN,NaN,NaN,NaN,None,1.0
127,TCS,20050228,1379.00,1385.00,1340.00,1380.90,800301,NaN,NaN,NaN,NaN,None,1.0
128,TCS,20050301,1381.00,1440.00,1351.00,1357.45,619769,NaN,NaN,NaN,NaN,None,1.0
129,TCS,20050302,1375.00,1375.00,1361.60,1368.00,332264,NaN,NaN,NaN,NaN,None,1.0
130,TCS,20050303,1370.00,1395.00,1364.00,1389.55,361395,NaN,NaN,NaN,NaN,None,1.0
131,TCS,20050304,1394.00,1403.50,1382.00,1392.25,502234,NaN,NaN,NaN,NaN,None,1.0
132,TCS,20050307,1395.00,1408.00,1394.00,1400.20,457254,NaN,NaN,NaN,NaN,None,1.0
133,TCS,20050308,1404.00,1420.90,1395.35,1413.95,628460,NaN,NaN,NaN,NaN,None,1.0
134,TCS,20050309,1409.00,1426.50,1395.05,1407.50,677761,NaN,NaN,NaN,NaN,None,1.0
135,TCS,20050310,1410.00,1410.00,1390.25,1399.55,287785,NaN,NaN,NaN,NaN,None,1.0
136,TCS,20050311,1406.00,1434.90,1405.00,1427.45,650718,NaN,NaN,NaN,NaN,None,1.0
137,TCS,20050314,1428.00,1460.00,1420.00,1451.85,816754,NaN,NaN,NaN,NaN,None,1.0
138,TCS,20050315,1451.00,1462.00,1430.00,1442.65,518310,NaN,NaN,NaN,NaN,None,1.0
139,TCS,20050316,1440.00,1467.60,1440.00,1452.05,684177,NaN,NaN,NaN,NaN,None,1.0
140,TCS,20050317,1448.00,1473.70,1440.00,1460.95,850666,NaN,NaN,NaN,NaN,None,1.0
141,TCS,20050318,1459.00,1472.50,1425.00,1468.70,765433,NaN,NaN,NaN,NaN,None,1.0
142,TCS,20050321,1470.15,1475.00,1444.60,1456.45,544265,NaN,NaN,NaN,NaN,None,1.0
143,TCS,20050322,1454.80,1457.10,1440.10,1443.55,335554,NaN,NaN,NaN,NaN,None,1.0
144,TCS,20050323,1440.00,1448.00,1413.35,1421.25,429927,NaN,NaN,NaN,NaN,None,1.0
145,TCS,20050324,1430.00,1438.00,1377.65,1384.35,744322,NaN,NaN,NaN,NaN,None,1.0
146,TCS,20050328,1391.00,1408.85,1384.00,1392.40,462466,NaN,NaN,NaN,NaN,None,1.0
147,TCS,20050329,1395.00,1398.00,1362.20,1370.90,381675,NaN,NaN,NaN,NaN,None,1.0
148,TCS,20050330,1371.10,1400.00,1360.00,1390.55,514407,NaN,NaN,NaN,NaN,None,1.0
149,TCS,20050331,1404.50,1445.10,1397.25,1432.05,864330,NaN,NaN,NaN,NaN,None,1.0