In [ ]:
import os
import datadbhandler as dbhandler
import pandas as pd
import numpy as np

PATH = 'D:/Trading/Historical Data/'
CSVPATH = 'NSE EOD/'
DBPATH = 'db/nsedb.db'
MOD_PATH = 'nse_eod_modifiers/'
AMI_PATH = 'amibroker_files/'

os.chdir(PATH)

db = dbhandler.DataDB(DBPATH)

In [ ]:
df = dbhandler.pd.read_csv(db.INDEX_CHANGE_MOD_CSV)

In [ ]:
df.head()

In [ ]:
df.iloc[0][1]

In [ ]:
db.fetch_records('tblModDump', [df.iloc[0][2]], start_date=df.iloc[0][1], end_date=df.iloc[0][1])

In [ ]:
db.fetch_records('tblModDump', [df.iloc[0][2]], start_date=19960918, end_date=19960918)

In [ ]:
db.truncate_table('tblDumpReplace', msg=True)

In [ ]:
db.truncate_table('tblMultipliers', msg=True)

In [ ]:
db.truncate_table('tblSkipped', msg=True)

In [ ]:
db.truncate_table('tblSymbolRange', msg=True)

In [ ]:
db.truncate_table('tblHistIndex', msg=True)

In [ ]:
db.truncate_table('tblDuplicates', msg=True)

In [ ]:
for i in range(1995, 2020):
    db.truncate_table('tblModDump{}'.format(i), msg=True)

In [ ]:
import pandas as pd

In [ ]:
df = dbhandler.pd.read_csv(db.SYMBOL_MAPPING_FILE)

In [ ]:
df2 = dbhandler.pd.read_csv(db.INDEX_CHANGE_MOD_CSV)
df2.Symbol.value_counts()

In [ ]:
import numpy as np
manual = dbhandler.pd.read_csv(db.INDEX_CHANGE_MANUAL_CSV, encoding='ansi')

for symbol in ['BAYERCROP', 'ABBOTINDIA']: #manual.Symbol.unique():
    symbol_dates = manual[manual.Symbol == symbol]['Date'].unique()
    #print(1, symbol, symbol_dates)
    #print(2, manual[manual.Symbol == symbol].CorrectSymbol)
    correct_symbol = manual[manual.Symbol == symbol].CorrectSymbol.iloc[0]
    #print(3, symbol, correct_symbol, symbol_dates)
    for date in symbol_dates:
        #print(4, symbol, date, correct_symbol)
        #print(5, np.where((df2.Symbol == symbol) & (df2.Date == date), correct_symbol, df2.Symbol))
        #print(5, np.where(df2.Date == date, correct_symbol, df2.Symbol))
        #print(0, symbol, date, correct_symbol)
        #print(1, df2[df2.Symbol == symbol])
        #print(2, df2[df2.Date == date])
        #print(3, df2[(df2.Symbol == symbol) & (df2.Date == date)])
        df2['Symbol'] = np.where((df2.Symbol == symbol) & (df2.Date == int(date)), correct_symbol, df2.Symbol)
df2.to_csv(db.INDEX_CHANGE_MOD_CSV)

In [ ]:
df2 = dbhandler.pd.read_csv(db.INDEX_CHANGE_MOD_CSV)
df2.Symbol.value_counts()

In [ ]:
df

In [ ]:
import pandas as pd

In [ ]:
symbols_range = pd.read_sql_query('''SELECT Symbol, MIN(Date) MinDate, MAX(Date) MaxDate 
                                        FROM tblModDump{} WHERE Date >= {} 
                                        GROUP BY Symbol'''.format(2020, 20200805), db.conn)

In [ ]:
symbols_range.index = symbols_range.Symbol
symbols_range

In [ ]:
start_date = '20200805'
qry = '''SELECT Symbol, Min(Date) MinDate, Max(Date) MaxDate, Source, TableSource, StartDate, EndDate
                FROM (SELECT t1.Symbol, t1.Date, 'Dump' Source, t2.TableSource, t2.StartDate, t2.EndDate
		FROM tblDump{year} t1
		LEFT JOIN tblSymbolRange t2
		ON t1.Symbol = t2.Symbol
		AND TableSource <> 'ModDump'
		WHERE t1.Date >= {start_date}
		UNION
	SELECT t1.Symbol, t1.Date, 'ModDump' Source, t2.TableSource, t2.StartDate, t2.EndDate
		FROM tblModDump{year} t1
		LEFT JOIN tblSymbolRange t2
		ON t1.Symbol = t2.Symbol
		AND TableSource <> 'Dump'
		WHERE t1.Date >= {start_date}
		UNION
        SELECT t1.Symbol, t1.Date, 'Dump' Source, t2.TableSource, t2.StartDate, t2.EndDate
		FROM tblDump{year} t1
		LEFT JOIN tblSymbolRange t2
		ON t1.Symbol = t2.Symbol
		WHERE t1.Date >= {start_date}
		UNION
	SELECT t1.Symbol, t1.Date, 'ModDump' Source, t2.TableSource, t2.StartDate, t2.EndDate
		FROM tblModDump{year} t1
		LEFT JOIN tblSymbolRange t2
		ON t1.Symbol = t2.Symbol
		WHERE t1.Date >= {start_date}) t1
        WHERE Source = TableSource 
        OR TableSource IS NULL
        GROUP BY Symbol, Source, TableSource'''.format(start_date=start_date, year=start_date[0:4])

In [ ]:
join = pd.read_sql_query(qry, db.conn)

In [ ]:
join

In [7]:
import history
PATH = 'D:/Trading/Historical Data/'
DBPATH = 'db/nsedb.db'

os.chdir(PATH)

hist = history.History(DBPATH)

Opening Bhavcopy database db/nsedb.db...

In [17]:
data = hist.symbol_history_indexflagged('TCS', 'Nifty 50', start_date='20051001', end_date='20200801', buffer_start='20050801')

In [8]:
data = hist.index_components_history('Nifty 50', start_date='19960101', end_date='20200801', buffer_start='19960101')

fetching data for  COCHINREFN
fetching data for  PONDS
fetching data for  THERMAX
fetching data for  SBIN
fetching data for  CASTROL
fetching data for  ESSARGUJ
fetching data for  IFCI
fetching data for  AMBUJACEM
fetching data for  TATACHEM
fetching data for  COLGATE
fetching data for  TATASTEEL
fetching data for  INDOGULF
fetching data for  RELIANCE
fetching data for  DRREDDY
fetching data for  IPCL
fetching data for  IDBI
fetching data for  EIHOTEL
fetching data for  HINDUNILVR
fetching data for  BAJAJHLDNG
fetching data for  ITC
fetching data for  GRASIM
fetching data for  TATACONSUM
fetching data for  SCICI
fetching data for  ABIRLANUVO
fetching data for  ARVIND
fetching data for  TATAMOTORS
fetching data for  RELPETRO
fetching data for  GESHIPPING
fetching data for  RELINFRA
fetching data for  ORIENTBANK
fetching data for  L&T
fetching data for  RANBAXY
fetching data for  NESTLE
fetching data for  RELCAPITAL
fetching data for  ICICI
fetching data for  TVSSUZUKI
fetching data for ABB
fetching data for  MRPL
fetching data for  HINDALCO
fetching data for  TATAPOWER
fetching data for  HDFCBANK
fetching data for  ACC
fetching data for  GLAXO
fetching data for  ANDRAVALLY
fetching data for  ASIANPAINT
fetching data for  HDFC
fetching data for  M&M
fetching data for  INDHOTEL
fetching data for  BROOKBOND
fetching data for  ASHOKLEY
fetching data for  MTNL
fetching data for  BHEL
fetching data for  HINDPETRO
fetching data for  BPCL
fetching data for  INFY
fetching data for  PGHH
fetching data for  CIPLA
fetching data for  GSKCONS
fetching data for  NIIT
fetching data for  HEROMOTOCO
fetching data for  BANKINDIA
fetching data for  RECKCOLMAN
fetching data for  NOVARTIND
fetching data for  BRITANNIA
fetching data for  SATYAMCOMP
fetching data for  DABUR
fetching data for  HCL-INSYS
fetching data for  ZEEL
fetching data for  DIGITALEQP
fetching data for  SUNPHARMA
fetching data for  WIPRO
fetching data for  ICICIBANK
fetching data for  TATACOMM
fetching data for  SCI
fetching data for  HCLTECH
fetching data for  NATIONALUM
fetching data for  GAIL
fetching data for  SAIL
fetching data for  BHARTIARTL
fetching data for  MARUTI
fetching data for  ONGC
fetching data for  PNB
fetching data for  LT
fetching data for  TCS
fetching data for  JETAIRWAYS
fetching data for  SIEMENS
fetching data for  SUZLON
fetching data for  RCOM
fetching data for  RPL
fetching data for  STER
fetching data for  NTPC
fetching data for  UNITECH
fetching data for  IDEA
fetching data for  CAIRN
fetching data for  DLF
fetching data for  POWERGRID
fetching data for  RPOWER
fetching data for  AXISBANK
fetching data for  JINDALSTEL
fetching data for  IDFC
fetching data for  JPASSOCIAT
fetching data for  KOTAKBANK
fetching data for  BAJAJ-AUTO
fetching data for  VEDL
fetching data for  COALINDIA
fetching data for  BANKBARODA
fetching data for  ULTRACEMCO
fetching data for  LUPIN
fetching data for  INDUSINDBK
fetching data for  NMDC
fetching data for  TECHM
fetching data for  MCDOWELL-N
fetching data for  YESBANK
fetching data for  BOSCHLTD
fetching data for  ADANIPORTS
fetching data for AUROPHARMA
fetching data for  TATAMTRDVR
fetching data for  EICHERMOT
fetching data for  INFRATEL
fetching data for  IOC
fetching data for  IBULHSGFIN
fetching data for  BAJFINANCE
fetching data for  UPL
fetching data for  BAJAJFINSV
Closing DB connection..
fetching data for TITAN
fetching data for  JSWSTEEL
fetching data for  NESTLEIND
fetching data for  SHREECEM
fetching data for  HDFCLIFE

In [18]:
import pandas as pd
import numpy as np
start_date = buffer_start = '19960101'
end_date = '20200801'
symbol = 'TCS'
index = 'Nifty 50'

buffer_start = hist.date_check(start_date, end_date, buffer_start)

symbol_hist = hist.symbol_history(symbol, start_date, end_date, buffer_start)

histIndex, histIndexDates = hist.index_change_history(index)

# Index change dates when symbol was part of index
df_symbol = histIndex[histIndex.Symbol == symbol]

# All index change dates with info on symbol present or absent
df_index_symbol = pd.merge(histIndexDates, df_symbol, how='left', on=['Date']).sort_values(by='Date')
df_index_symbol.Symbol = np.where(df_index_symbol.IndexName.notnull(), True, np.nan)

# Marking dates when symbol was removed from index - 1.0 = Present, 0.0 = Removal, NaN = Absent
df_index_symbol.Symbol.fillna(method='ffill', inplace=True, limit=1) 
df_index_symbol.Symbol = np.where((df_index_symbol.IndexName.isnull()) & \
    (df_index_symbol.Symbol.notnull()), False, df_index_symbol.Symbol)
# Removing NaN records, renaming columns
df_index_symbol = df_index_symbol[df_index_symbol.Symbol.notnull()][['Date', 'Symbol']]
df_index_symbol.columns = ['Date', 'IndexFlag']

# Symbol in index on buffer_start?
try:
    index_flag_buffer_start = df_index_symbol[df_index_symbol.Date.astype(int) < \
        int(buffer_start)].sort_values(by='Date', ascending=False).iloc[0].IndexFlag
except IndexError:
    index_flag_buffer_start = False

fetching data for  TCS

In [19]:
index_flag_buffer_start

False

In [9]:
len(data.keys())

129

In [10]:
data['TCS']

,Symbol,Date,Open,High,Low,Close,Volume,AdjustedOpen,AdjustedHigh,AdjustedLow,AdjustedClose,Buffer,IndexFlag
0,TCS,20040825,1198.70,1198.7,979.00,987.95,17116372,NaN,NaN,NaN,NaN,None,NaN
1,TCS,20040826,992.00,997.0,975.30,979.00,5055400,NaN,NaN,NaN,NaN,None,NaN
2,TCS,20040827,982.40,982.4,958.55,962.65,3830750,NaN,NaN,NaN,NaN,None,NaN
3,TCS,20040830,969.90,990.0,965.00,986.75,3058151,NaN,NaN,NaN,NaN,None,NaN
4,TCS,20040831,986.50,990.0,976.00,988.10,2649332,NaN,NaN,NaN,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3938,TCS,20200727,2165.00,2215.0,2163.50,2206.80,4248837,17320.0,17720.0,17308.0,17654.4,None,1.0
3939,TCS,20200728,2215.00,2320.0,2215.00,2309.75,8092458,17720.0,18560.0,17720.0,18478.0,None,1.0
3940,TCS,20200729,2292.00,2342.0,2246.05,2276.05,6090440,18336.0,18736.0,17968.4,18208.4,None,1.0
3941,TCS,20200730,2285.90,2358.0,2272.25,2279.50,7098913,18287.2,18864.0,18178.0,18236.0,None,1.0
3942,TCS,20200731,2303.15,2334.8,2257.45,2281.40,4723290,18425.2,18678.4,18059.6,18251.2,None,1.0

In [5]:
data['TCS'].IndexFlag.sum()

3817.0

In [11]:
data['TCS'].iloc[100:150]

,Symbol,Date,Open,High,Low,Close,Volume,AdjustedOpen,AdjustedHigh,AdjustedLow,AdjustedClose,Buffer,IndexFlag
100,TCS,20050118,1274.70,1284.00,1257.50,1263.85,772908,NaN,NaN,NaN,NaN,None,NaN
101,TCS,20050119,1266.00,1273.70,1251.10,1255.40,442311,NaN,NaN,NaN,NaN,None,NaN
102,TCS,20050120,1255.00,1255.00,1230.00,1243.70,567025,NaN,NaN,NaN,NaN,None,NaN
103,TCS,20050124,1243.70,1247.35,1215.35,1220.65,453524,NaN,NaN,NaN,NaN,None,NaN
104,TCS,20050125,1214.80,1239.90,1207.10,1235.45,558241,NaN,NaN,NaN,NaN,None,NaN
105,TCS,20050127,1243.25,1253.80,1235.30,1240.55,681918,NaN,NaN,NaN,NaN,None,NaN
106,TCS,20050128,1242.85,1294.80,1242.50,1289.20,1049227,NaN,NaN,NaN,NaN,None,NaN
107,TCS,20050131,1298.00,1311.80,1290.25,1300.40,731673,NaN,NaN,NaN,NaN,None,NaN
108,TCS,20050201,1307.00,1320.00,1287.00,1315.25,1002480,NaN,NaN,NaN,NaN,None,NaN
109,TCS,20050202,1319.00,1323.45,1303.00,1308.95,608807,NaN,NaN,NaN,NaN,None,NaN
110,TCS,20050203,1312.00,1314.75,1302.00,1311.10,415952,NaN,NaN,NaN,NaN,None,NaN
111,TCS,20050204,1310.00,1322.00,1300.55,1306.45,335505,NaN,NaN,NaN,NaN,None,NaN
112,TCS,20050207,1312.60,1330.70,1301.00,1313.75,743027,NaN,NaN,NaN,NaN,None,NaN
113,TCS,20050208,1313.75,1323.00,1308.00,1316.00,410554,NaN,NaN,NaN,NaN,None,NaN
114,TCS,20050209,1321.00,1343.60,1320.75,1332.80,692242,NaN,NaN,NaN,NaN,None,NaN
115,TCS,20050210,1330.00,1343.50,1323.00,1332.65,547081,NaN,NaN,NaN,NaN,None,NaN
116,TCS,20050211,1338.00,1387.00,1338.00,1381.75,1295887,NaN,NaN,NaN,NaN,None,NaN
117,TCS,20050214,1391.05,1418.00,1391.05,1409.65,1109408,NaN,NaN,NaN,NaN,None,NaN
118,TCS,20050215,1410.00,1415.00,1374.00,1381.35,497090,NaN,NaN,NaN,NaN,None,NaN
119,TCS,20050216,1399.00,1399.00,1361.00,1368.15,390854,NaN,NaN,NaN,NaN,None,NaN
120,TCS,20050217,1368.15,1386.00,1350.60,1381.85,515622,NaN,NaN,NaN,NaN,None,NaN
121,TCS,20050218,1380.00,1392.00,1355.00,1375.00,318143,NaN,NaN,NaN,NaN,None,NaN
122,TCS,20050221,1371.00,1375.80,1345.10,1365.55,222144,NaN,NaN,NaN,NaN,None,NaN
123,TCS,20050222,1364.70,1369.95,1351.00,1363.45,267380,NaN,NaN,NaN,NaN,None,NaN
124,TCS,20050223,1363.45,1382.10,1355.15,1374.95,645852,NaN,NaN,NaN,NaN,None,NaN
125,TCS,20050224,1374.95,1395.90,1361.20,1367.95,1350805,NaN,NaN,NaN,NaN,None,NaN
126,TCS,20050225,1376.80,1379.00,1353.15,1364.05,633862,NaN,NaN,NaN,NaN,None,1.0
127,TCS,20050228,1379.00,1385.00,1340.00,1380.90,800301,NaN,NaN,NaN,NaN,None,1.0
128,TCS,20050301,1381.00,1440.00,1351.00,1357.45,619769,NaN,NaN,NaN,NaN,None,1.0
129,TCS,20050302,1375.00,1375.00,1361.60,1368.00,332264,NaN,NaN,NaN,NaN,None,1.0
130,TCS,20050303,1370.00,1395.00,1364.00,1389.55,361395,NaN,NaN,NaN,NaN,None,1.0
131,TCS,20050304,1394.00,1403.50,1382.00,1392.25,502234,NaN,NaN,NaN,NaN,None,1.0
132,TCS,20050307,1395.00,1408.00,1394.00,1400.20,457254,NaN,NaN,NaN,NaN,None,1.0
133,TCS,20050308,1404.00,1420.90,1395.35,1413.95,628460,NaN,NaN,NaN,NaN,None,1.0
134,TCS,20050309,1409.00,1426.50,1395.05,1407.50,677761,NaN,NaN,NaN,NaN,None,1.0
135,TCS,20050310,1410.00,1410.00,1390.25,1399.55,287785,NaN,NaN,NaN,NaN,None,1.0
136,TCS,20050311,1406.00,1434.90,1405.00,1427.45,650718,NaN,NaN,NaN,NaN,None,1.0
137,TCS,20050314,1428.00,1460.00,1420.00,1451.85,816754,NaN,NaN,NaN,NaN,None,1.0
138,TCS,20050315,1451.00,1462.00,1430.00,1442.65,518310,NaN,NaN,NaN,NaN,None,1.0
139,TCS,20050316,1440.00,1467.60,1440.00,1452.05,684177,NaN,NaN,NaN,NaN,None,1.0
140,TCS,20050317,1448.00,1473.70,1440.00,1460.95,850666,NaN,NaN,NaN,NaN,None,1.0
141,TCS,20050318,1459.00,1472.50,1425.00,1468.70,765433,NaN,NaN,NaN,NaN,None,1.0
142,TCS,20050321,1470.15,1475.00,1444.60,1456.45,544265,NaN,NaN,NaN,NaN,None,1.0
143,TCS,20050322,1454.80,1457.10,1440.10,1443.55,335554,NaN,NaN,NaN,NaN,None,1.0
144,TCS,20050323,1440.00,1448.00,1413.35,1421.25,429927,NaN,NaN,NaN,NaN,None,1.0
145,TCS,20050324,1430.00,1438.00,1377.65,1384.35,744322,NaN,NaN,NaN,NaN,None,1.0
146,TCS,20050328,1391.00,1408.85,1384.00,1392.40,462466,NaN,NaN,NaN,NaN,None,1.0
147,TCS,20050329,1395.00,1398.00,1362.20,1370.90,381675,NaN,NaN,NaN,NaN,None,1.0
148,TCS,20050330,1371.10,1400.00,1360.00,1390.55,514407,NaN,NaN,NaN,NaN,None,1.0
149,TCS,20050331,1404.50,1445.10,1397.25,1432.05,864330,NaN,NaN,NaN,NaN,None,1.0